/* src/CertificationCard.css */
.certification-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 300px;
}

.certificate-image {
    width: 100%;
    height: auto;
    border-radius: 4px;
}
/* Add this to your global styles */
@keyframes gradientAnimation {
    0% {
      background: rgb(255, 0, 0); /* Red */
    }
    25% {
      background: rgb(0, 255, 0); /* Green */
    }
    50% {
      background: rgb(0, 0, 255); /* Blue */
    }
    75% {
      background: rgb(255, 165, 0); /* Orange */
    }
    100% {
      background: rgb(255, 0, 255); /* Purple */
    }
  }
  
  .hover\:animate-gradient:hover {
    animation: gradientAnimation 3s ease-in-out infinite;
    color: white;
    transition: color 0.3s ease;
  }
  